---
import Social from './Social.astro';
---
<footer>
    <p>Learn more about my projects on</p>
    <Social platform="github" username="cashewna" />

    <p>Connect with me at</p>
    <Social platform="linkedin" username="in/barrel-titor-4a807b297" />
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>