---
import courses from "../pages/courses/courseTitles.json";
---

<div>
    <ul>
    {
        courses.map((course) => (
            <li>
                <a href={course.url}>{course.title}</a>
            </li>
        ))
    }
    </ul>
</div>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    a {
        text-decoration: none;
        color: darkblue;
    }
</style>
