---
import courses from "../pages/courses/courseTitles.json";
import homelabItems from '../pages/homelab/homelabItems.json';
---
<nav>
    <ul>
        <li class="category">
            <span>Courses</span>
            <ul>
                {
                    courses.map((course) => (
                        <li>
                            <a href={course.url}>{course.title}</a>
                        </li>
                    ))
                }
            </ul>
        </li>
        <li class="category">
            <span>Homelab</span>
            <ul>
                {
                    homelabItems.map((item) => (
                        <li>
                            <a href={item.url}>{item.title}</a>
                        </li>
                    ))
                }
            </ul>
        </li>
    </ul>
</nav>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: darkblue;
    }

    .category {
        margin: 1rem 0;
    }
</style>
