---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";

const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <div class="header">
		    <Header />
        </div>
        <div class="sidebar">
		    <Sidebar />
        </div>
        <div class="content">
            <slot />
        </div>
	</body>
</html>

<style>
    body {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 50px 1fr;
        min-width: 100%;
        min-height: 100vh;
    }
    
    .header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        min-height: 100%;
        padding-top: 1rem;
        background-color: hsl(224, 20%, 97%);
    }
    
    .sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-top: 1rem;
    }
    
    .header,
    .sidebar {
        --hairline-color: hsl(200, 20%, 94%);
        padding-left: 4rem;
        border-inline-end: 1px solid var(--hairline-color);
    }
    
    .content {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .footer {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        justify-self: center;
    }
</style>