---
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await Astro.glob("../../pages/courses/genc3004/*.md");
---

<BaseLayout title="GENC3004 Notes">
	<h1>GENC3004 - Personal Finance</h1>
	<ul>
		{
			posts.map((post) => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
